body {
    margin: 0;
    padding: 0;
}

.fundo {
    background: linear-gradient(162deg, rgba(67,4,28,1) 0%, rgba(56,3,21,1) 35%, rgba(33,1,7,1) 100%);
    height: 100vh;
    color: white;
    font-family: sans-serif;
}

.calc {
    position: absolute;
    background-color: #520500;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 5%;
    text-align: center;
}

.box-number {
    border: 2px solid #a00b00;
    width: 300px;
    height: 30px;
    border-radius: 40px;
}
.space-button {
    padding-top: 20px;
}

.botao {
    font-size: 1.2em;
    background: #7e0800;
    border: 0;
    margin-bottom: 1em;
    color: white;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    
}

.botao:hover {
    background: #D10E00;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none;
}

.title {
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}